[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
beautifulsoup4 = "*"
django-rest-framework = "*"
django-filter = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
django-extensions = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
dj-database-url = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
